doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 My Users List 
table
  thead 
    tr
      th Full Name
      th Contact
      th Email
      th Role
  tbody 
    if  users.length
      each user in users
        tr
          td #{user.fullname}
          td #{user.phone}
          td #{user.email}
          td #{user.role}
  